body{
    overflow-y: auto;
    overflow-x: hidden;
        display: flex;
    flex-direction: column;
    align-items: center
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
.bar{
    font-family: 'Google Sans';
    min-width: 1600px;
    flex-direction: row;
    position: relative;
    top: 5vh;
    width:100%;
    height:calc(10vh - 40px);
 display:flex;
/*  gap:calc(2.5rem); */
list-style: none;
justify-content: space-evenly;
align-items: center;
font-size: 1.8em;
color: #afa0d9;
font-weight: bold;;
cursor:pointer;
}
.bar li:hover{
font-size: 110%;
}
.bar li.homepage{
     width: calc(100% / 9);
    height:100%;

}

.homepage > a{
    width: 100%;
    height: 100%;
    background:url("https://github.com/MorryNgo/lang-homepage/blob/main/1.png?raw=true");
    background-size:120%;
    background-repeat: no-repeat;
    background-position:center;
    clip-path: inset(0 0 20% 0);
}

.content-section{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}
.content1{
   margin-top:4%;
    width:80vw;
    height:50vh;
    background:url(https://github.com/MorryNgo/lang-homepage/blob/main/4.png?raw=true);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.lang{
  
   background:url("https://github.com/MorryNgo/lang-homepage/blob/main/df6a9036-a5aa-401a-9ed2-77a7cd4d71cb.png?raw=true");
   background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
#lang1{
      width:80%;
    height:80%;

}
.content2{
    width:100vw;
    height:75vh;
    background:url("https://github.com/MorryNgo/lang-homepage/blob/main/width_1600.png?raw=true");
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size:1.8rem;

}
h1{ 
    margin-bottom: 0;
    margin-left: 10%;
/*     font-size: 3rem; */
    font-weight:500;
    text-shadow: 0 0 20px white;
    color: white;

}

.content2 h1{
        font-family: 'Open Sans';
}

.content2 h1 i{
    margin-left: 1rem;
        font-weight:400;
    font-size: 75%;
}
.containlang{
    min-width: 1370px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align:justify ;
}
.containlang p{
    font-family: 'Google Sans';
    min-width: 810px;
    max-width: 812px;
    width: 54%;
text-justify: inter-word;
    text-align:justify;
        margin-right:5%;
/*         font-size: calc(1.8rem); */
        font-weight:lighter;
        letter-spacing: 2.2px;


}
.containlang p b{
    font-weight:bold;
}

#lang2{
    width: 30%;
    height: 90%;
    background-size:200%
}

.content3{
    width:100vw;
    height:70vh;
    background-color: #f4ddef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}

.content3 h2{
justify-items:flex-start;
display: flex;
justify-content: center;
    width:100%;
    color: #8d4b9a;
font-size: 4.2rem;
position: relative;
margin-bottom: 3rem;
margin-top:1rem;
font-family: 'Playfair Display';
}

.content3 h2::after{
content: '';
width: 60%;
background-color: #8d4b9a;
height: 4%;
bottom: 0;
position: absolute;
display: block;
transform: translate(0,1rem);
}

.boximg{
    width:100%;
    height:40%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 2rem;
    
}

#smallboximg{
    width: 24rem;
    height: 22rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
justify-content: flex-start;/*  y */
    align-items: center; /* x */
     font-size: 1.8rem;
}

#frame{
    margin-top:1rem;
    width: 92%;
    height: 60%;
    border-radius: 25px;
    border: 2px solid #a281b8;
    background-repeat: no-repeat;
 background-position: center;


}
.frame1{
    background:url("https://github.com/MorryNgo/lang-homepage/blob/main/6.png?raw=true");
    background-size: 150%;
}
.frame2{
    background:url("https://github.com/MorryNgo/lang-homepage/blob/main/7.png?raw=true") ;
    background-size: 115%;

}

.content-section h3{
    font-style:italic;
    font-weight: 100;
    color: #a281b8;
}
#smallboximg.boximg3{
    display: flex;
  justify-content: center;/*  y */
    align-items: center; /* x */
}

.btn{
    margin-top: 5rem;
    height: 8%;
    font-size: 2rem;
    position: relative;
        display: flex;
  justify-content: center;/*  y */
    align-items: center; /* x */
    z-index: 0;
    color: white;
    font-weight: 200;
        text-shadow: 1px 1px 2px rgb(255, 255, 255); 
    cursor: pointer;
    
}

.btn::after{
    min-width: 200px;
    content: '';
    width:12%;
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, #634376, #9f5daf, #cf9fbe);
    z-index: -1;
    border-radius: 25px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    height: 9%;
    font-size: 2.2rem;
}

.contactbar{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #bd8ab3;
    font-size: 1.5rem;
    margin-bottom: -1rem;
    gap: 1rem;
}

.contactbar h1{
    text-align: left;
text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.4);
    display: block;margin: 0;;
    font-family: 'Averia Serif Libre', serif;
}

.langpin{
    height: 100%;
    width: 20%;
   background:url("https://github.com/MorryNgo/lang-homepage/blob/main/7f3d347c-b855-4ddf-a327-a80831db9da1.png?raw=true");
   background-size: 160%;
   background-repeat: no-repeat;
   background-position: center;
}

h3{
    font-style: normal;
    color:white
}

.intro-page .content1{
    font-size: 3.8rem;
}
.intro-page h2{
    margin-left: 28%;font-size: 60%;
}

body{
    min-height: 100vh;
}

.contactbar{
    flex-shrink: 0;
}

